<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "layouts/user_bio", :@user => @user, :@offers => @offers %>
      <div class="thin-border-wrapper padding-5">
        <h3>Time Credits Available: <%=@user.credits%></h3>
      </div>
      <%= render "layouts/large_rating", :@rating => @rating %>
      <%= render "layouts/user_offers", :@offers => @offers %>
    </div>
    <div class="col-md-8">
      <div class="thin-border-wrapper">
        <div class="requests-header text-center">
          <h2 class="no-spacing b-m-5">Open Requests</h2>
          <div class="text-center">
            <%= link_to "New Request", new_request_path, class: "btn btn-blue" %>
          </div>
        </div>
        <% @requests.each do |request| %>
          <%= render "layouts/request_summary", :request => request %>
        <% end %>
      </div>
    </div>
  </div>
</div>
