<div class="container">
  <h2>Register a new user</h2>
    <%= form_for @request, :html => {:multipart => :true } do |f| %>
      <% if f.object.errors.any? %>
        <ul>
          <% f.object.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      <% end %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <fieldset class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </fieldset>
      <input type="file" name="images[]" multiple="multiple"><br/>
      <div>
        <%= f.submit "Create User", class: "btn btn-blue" %>
      </div>
    <% end %>
</div>
