<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/author_summary", :@user => @user %>
    </div>
    <div class="col-md-7">

      <% if !@request.accepted_offer_id.nil? && @user == current_user %>
        <div class="grey-wrapper padding-5 text-center">
          <h2>Accepted Offer from <%=@offer_user.first_name %></h2>
          <h4>Is the work done?</h4>
          <%= link_to "Yes, #{@offer_user.first_name} completed the request", completed_request_path(:id => @request.id)%>
        </div>
      <% end %>

      <%= render "layouts/request_show", :@request => @request, :@images => @images %>
    </div>
    <div class="col-md-2 text-center">
      <% if @user != current_user %>
        <h3>Can you help?</h3>
        <%= link_to "Make Offer", new_request_offer_path(@request), class: "btn btn-blue" %>
      <% else %>
        <div class="grey-wrapper">
          <%= link_to "Edit request", edit_request_path(@request) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
