<%= form_for ([:request, @offer]) do |f| %>
  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <fieldset class="form-group">
    <%= f.label :explanation, "Offer Comments" %>
    <%= f.text_area :explanation, class: "form-control", rows: 10 %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :proposed_hours %>
    <%= f.number_field :proposed_hours, class: "form-control", min: 0, :step => 'any' %>
  </fieldset>
  <div>
    <%= f.submit "Make Offer", class: "btn btn-blue" %>
  </div>
<% end %>
