<div class="grey-wrapper">
  <h2>How did <%=@offer_user.first_name %> do?</h2>
  <h1>
    <span id="star-1" class="hover-cursor">&#9733</span>
    <span id="star-2" class="hover-cursor">&#9733</span>
    <span id="star-3" class="hover-cursor">&#9733</span>
    <span id="star-4" class="hover-cursor">&#9733</span>
    <span id="star-5" class="hover-cursor">&#9733</span>
  </h1>
  <%= form_for ([@offer_user, @rating]) do |f| %>
    <%= f.hidden_field :rating, :value => 0 %>
    <%= f.hidden_field :user_id, :value => @offer_user.id %>
    <%= f.submit "Submit", class: "btn btn-blue"%>
  <% end %>
  <div>
    <%= link_to "Skip Rating", user_path(@user) %>
  </div>
</div>
