<div class="request-summary">
  <div class="row">
    <div class="col-xs-9">
      <h3><%= link_to request.title, request_path(request.id)%></h3>
    </div>
    <div class="col-xs-3">
      <h5 class="text-right post-date">Posted on: <%=request.created_at.strftime("%m-%d-%Y")%></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p><%=truncate(request.description, length: 350)%></p>
    </div>
    <div class="col-sm-4 text-center">
      <% if request.request_images.first %>
        <%= image_tag request.request_images.first.image.url(:medium), class: "summary-image" %>
      <% else %>
        <%= image_tag "no_image.png", class: "summary-no-image" %>
      <% end %>
    </div>
  </div>
</div>
