<div class="bio-container">
  <div class="bio-image-wrapper">
    <%= image_tag @user.avatar.url(:medium), class: "bio-image" %>
  </div>
  <div class="bio-top"></div>
  <h3 class="bio-name"><%=@user.first_name%> <%=@user.last_name%></h3>
  <h6 class="bio-name"><%=@user.email%></h6>
  <div class="row">
    <div class="col-xs-3 text-center bio-stats">
      <h4>Requests</h4>
    </div>
    <div class="col-xs-4 text-center bio-stats">
      <h4>Offers</h4>
    </div>
    <div class="col-xs-5 text-center bio-stats">
      <h4>Accepted Offers</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 text-center b-m-5">
      <h3 class="no-spacing"><%=@user.requests.count%></h3>
    </div>
    <div class="col-xs-4 text-center b-m-5">
      <h3 class="no-spacing"><%=@offers.count%></h3>
    </div>
    <div class="col-xs-5 text-center b-m-5">
      <h3 class="no-spacing"><%=@offers.where(accepted: true).count%></h3>
    </div>
  </div>
</div>
